@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --page-bg: 255, 255, 255;
    --header-bg: 24, 24, 24;
    --text-color: 255, 255, 255;
    --sec-text-color: 24, 24, 24;
    --primary-btn-bg: 255, 255, 255;
    --primary-btn-text: 24, 24, 24;
    --sec-btn-bg: 24, 24, 24;
    --sec-btn-text: 255, 255, 255;
    --flipkart-color: 255, 248, 220;
    --amazon-color: 255, 213, 128;
  }
}
